<html>
    <head>
        {% block head %}
            <title>Radovan - a meta search engine</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
            <link rel="stylesheet" href="static/master.css">
            <link rel="stylesheet" media="screen" href = "static/bootstrap-4.3.1-dist/css/bootstrap.min.css">
            <script src="static/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="topbar row d-flex flex-xl-nowrap flex-lg-nowrap">
                <!-- <div class="buff col-lg-4 col-xl-4">

                </div> -->
                <div class="p-2 flex-fill radovan-top">
                    <img id="radovan1" src="static/img/radovan_superlong2.png" alt="">
                </div>

                <div class="title p-2 flex-fill">
                    <h1>Radovan from planet Meta <sup id="beta">[beta]</sup> </h1>
                </div>

                <div class="p-2 flex-fill radovan-bottom">
                    <img id="radovan2" src="static/img/radovan_superlong1.png" alt="">
                </div>



            </div>
            <div class="content row">
                <div class="sidebar col-xs-12 col-s-12 col-md-3 col-lg-3 col-xl-3">
                    <div class="form-container">
                        <form action="results" method="POST">
                            <div class="fields">
                                <div class="textfield">
                                    <span>Title: </span><input class="text" type="text" name="title">
                                </div>
                                <div class="textfield">
                                    <span>Author: </span> <input class="text" type="text" name="author">
                                </div>
                                <div class="textfield">
                                    <span>Year: </span> <input class="text" type="text" name="year">
                                </div>
                                <div class="textfield">
                                    <span>DOI: </span> <input class="text" type="text" name="doi">
                                </div>
                                <div class="textfield">
                                    <span>ISBN: </span> <input class="text" type="text" name="isbn">
                                </div>
                            </div>

                            <div class="radio">
                                <p><input type="checkbox" id="checkAll" checked value=""> All sources <button class="btn" type="button" id="expand">&#9661;</button></p>

                                <div id="sources">
                                    {% if form_data %}
                                        {% for g in form_data %}
                                            <p class="top-check">
                                                <label class="check"><input type="checkbox" checked name="providers" class="" value="{{ g.id }}"> <a class="provider_link" href="{{ g.url }}">{{ g.full_name }}</a></label>
                                                <br>
                                            </p>
                                        {% endfor %}
                                    {% else %}
                                        <p>No data!</p>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- <input type="submit"> -->
                            <div class="soumission">
                                <button type="submit" name="" value="Search" class="" id="searchbuttonmain">
                                    Sumbit Query
                                </button>
                            </div>

                        </form>

                    </div>
                </div>
                <div class="results col-md-7 col-lg-7 col-xl-7">
                    {% block results %}
                        <div class="center">
                            <p>Radovan returns a maximum of 10 results per source. Use the [<a href="#">source</a>] link to look for more.</p>
                            <p>Suggest more sources to be added <a href="https://pad.riseup.net/p/radovan_sources-keep" target="_blank">here</a> and visit the <a href="about">/about</a> page.</p>
                            <p>Warn: Querying aaaaarg.fail currently doesn't work.</p>
                        </div>
                    {% endblock %}
                </div>
            </div>
            <div class="footer">
                <script type="text/javascript">
                    $(document).ready(function(){
                        $("#checkAll").change(function () {
                            $("input:checkbox").prop('checked', $(this).prop("checked"));
                        });
                    })

                    $( "#searchbuttonmain" ).click(function() {
                      $(this).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading ...')
                      $.ajax({
                         type: "POST",
                         url: '/results',
                         data: $('form').serialize(),
                      }).done(function() {
                          //console.log("success");
                      });
                    });

                    $('#expand').click(function() {
                        $("#sources").toggle(function() {
                            if ($("#sources").css('display') === 'none') {
                                $("#expand").html("&#9661;");
                            } else  {
                                $("#expand").html("&#9651;");
                            }
                        });
                    });
                </script>

            </div>

        </div>




    </body>
</html>
