/* .container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
} */
/* .main {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
} */

body {
    width: 100%;
    font-family: Courier;
}

pre {
    font-family: inherit !important;
}

ul {
    list-style-type: none;
    padding-left: 0;
}


.results .btn {
    margin-top: 0.5rem;
}

.results ul {
    margin-bottom: 3rem;
}

.results ul li a.text-truncate {
    overflow: inherit !important;
    white-space: initial !important;
    word-wrap: break-word !important;

}

/* if the hyperlinks are too long */
.text-truncate {

}


.topbar {
    padding: 10px;
    border-color: black;
    border-style: dotted;
}

div.title {
    /* padding-left: 100px; */
}

.container {
    /* margin-left:0 !important;
    margin-right:0 !important; */
    /* padding-left: 0px !important; */
    margin-top: 10px;
}

.sidebar {
    padding-left: 0px !important;
}

div.results {
    padding-left: 95px;
}

/* .title h1 {
    display: inline;
} */

h1 {
    text-align: center;
    color: black;
    font-family: Courier;
    padding-top: 20px;
}

img#radovan1, img#radovan2 {
    transform: rotate(180deg) scaleX(-1);
    /* display: inline-block; */
    max-width:100%;

}

img#radovan2 {
    float: right;
}

sup#beta {
    top: -1.5em;
    font-size: 1rem;
}


.form-container {
    border: dotted;
    padding: 10px;
}

/* input.text {
    float: right;
} */

.content {
    padding: 10px;
    padding-left: 0;
    font-family: Courier;
}

/* provider choice menu */
.top-check {
    text-indent: 15px;
    margin-bottom: 0px;

}

.sub-check {
    text-indent: 30px;
}

div.fields, div.radio {
    padding-bottom: 10px;
}

div.textfield {
    display: flex;
    justify-content: space-between;
}

a.provider_link:link, a.provider_link:visited {
    text-decoration: none;
    color: inherit;
}

a.provider_link:hover, a.provider_link:active  {
    text-decoration: underline;
    color: inherit;
}

label.check, label.sub-check, p.group {
    margin-bottom: 0px;
}

#searchbuttonmain {
    margin-top: 10px;
    width: 100%;
    height: 40px;
}

form {
    margin-bottom: 0;
}


#expand {
    /* display: inline-block;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg); */
    /* font-weight: 800; */
    float: right;
    font-size: 1.5rem;
    line-height: 1;
}

button#expand {
    border: none;
    background-color: inherit;
    cursor: pointer;
    display: none;
}


button#expand:focus {
    border: none;
    outline: none;
    box-shadow: none;
}



/* CONTENT PRE RESULTS */
div.center {

}

/* RESULTS */

/* number of results */
div.result_count {
    padding-bottom: 10px;
}

img.coverimg {
    max-width: 100%;
}

div.record {
    padding-bottom: 40px;
}


/* ABOUT */
div.about h2 {
    font-size: 1.5rem;
    font-family: Courier;
}

div.about h3 {
    font-size: 1rem;
    text-decoration: underline;
}

div.about {
    font-family: Courier;
}

div.indent {

}

code {

}

/* extra responsive settings */
@media (min-width: 1200px) {
  .container {
    max-width: 90vw !important;
  }
}

@media (max-width: 480px) {

    /* search form */
    button#expand {
        display: inherit;
    }

    #sources {
        display: none;
    }
    .content {
        padding: 10 0 0 0 !important;
    }

    .sidebar {
        padding-right: 0 !important;
    }

    .topbar .radovan-bottom {
        display: none;
    }

    .topbar .title {
        display: none;
    }

    .topbar {
        padding: 0;
    }

    #searchbuttonmain {
        width: 100%;
        height: 50px;
    }

    form {
        margin-bottom: 0;
    }

    /* search results */
    div.results {
        padding: 10px 10px 0px 10px;
    }

    div.record {
        padding-bottom: 50px;
    }

    p.source {
        margin-bottom: 0.2rem;
    }

    img.coverimg {
        object-fit: cover;
        max-width: 100vw;
        width: 100%;
    }

    .identifiers p {
        word-wrap: break-word;
    }

}
