aniso8601==8.0.0
beautifulsoup4==4.8.1
bibtexparser==1.1.0
bs4==0.0.1
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
Click==7.0
cryptography==2.8
Flask==1.1.1
future==0.18.2
gevent==1.4.0
greenlet==0.4.15
gunicorn==20.0.4
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
lxml==4.4.2
MarkupSafe==1.1.1
pycparser==2.19
pyparsing==2.4.5
pytest
pytz==2019.3
requests==2.22.0
requests-futures==1.0.0
robobrowser==0.5.3
six==1.13.0
soupsieve==1.9.5
urllib3==1.26.5
Werkzeug==0.16.0
xmltodict==0.12.0
xvfbwrapper==0.2.9
